<footer class="footer-main"> 
  <!-- ################################################################################ -->
  <div class="container custom-width">
    <div class="row">
      <div class="col-md-4 footer-about pe-md-5">
        <figure class="footerlogo"><img src="images/footer-logo.png" class="img-fluid"></figure>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
        <div class="mt-1 mt-md-4 headings">Follow us on</div>
        <p class="social-handles"> <a href="#" target="_blank"><i class="fab fa-facebook"></i></a> <a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a> <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="#" target="_blank"><i class="fab fa-youtube"></i></a> </p>
      </div>
      <div class="col-md-2 footer-links">
        <div class="headings">Info</div>
        <ul>
          <li><a href="#">  About</a></li>
          <li><a href="#">Contact Us </a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#"> Shipping & Returns</a></li>
          <li><a href="#"> Terms of Service</a></li>
          <li><a href="#">Refund policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
          
        </ul>
      </div>
      <div class="col-md-2  footer-links">
         <div class="headings">Category</div>
        <ul>
          <li><a href="#">Pendant</a></li>
          <li><a href="#"> Ring </a></li>
          <li><a href="#">Anklet</a></li>
          <li><a href="#">Earring  </a></li>
          <li><a href="#"> Bracelet</a></li>
          <li><a href="#"> Silver Chain </a></li>
          <li><a href="#"> Nose Pin</a></li>
        </ul>
      </div>
      <div class="col-md-4 contact-info">
        <div class="headings">Contact Info</div>
        <div class="info-block mb-3 mb-md-4">
          <div class="d-flex">
            <div class="flex-shrink-0 me-4"> <img src="images/map.png" alt=""> </div>
            <div class="flex-grow-1">
              <div class="mb-2 headings">OFFICE LOCATION</div>
              <p class="mb-1">Lorem ipsum dolor sit amet consectetur. Tortor vel fames nibh arcu enim sed. Sapien tincidunt</p>
            </div>
          </div>
        </div>
        <div class="info-block mb-3 mb-md-4">
          <div class="d-flex">
            <div class="flex-shrink-0 me-4"> <img src="images/phone.png" alt=""> </div>
            <div class="flex-grow-1">
              <div class="mb-2 headings">CONTACT NO.</div>
              <p class="mb-1">+91 - 987654321X, +91 - 987654321X</p>
            </div>
          </div>
        </div>
        <div class="info-block mb-3 mb-md-4">
          <div class="d-flex">
            <div class="flex-shrink-0 me-4"> <img src="images/mail.png" alt=""> </div>
            <div class="flex-grow-1">
              <div class="mb-2 headings">OFFICIAL EMAIL</div>
              <p>info@zever4u.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="bdr">
    <div class="Subscribe-sec py-2">
      <div class="row justify-content-between align-items-center">
      <div class="col-md-5">   
       <form class="subscribe_form">
            <div class="input-group">
               <input type="text" class="form-control" name="email" placeholder="Enter your email">
               <span class="input-group-btn">
                    <button class="btn btn-default" type="button">subscribe</button>
               </span>
            </div>
          </form></div>
      
      <div class="col-md-auto"><span class="text-white fs16 pe-3"> Need more information, Write to us now <i class="fa-solid fa-caret-right ps-2"></i> </span> <a href="#" class="btn btn-secondary"> CONTACT US</a></div>
      </div>
    </div>
    <hr class="bdr">
    <div class="footer-btm row justify-content-sm-between align-items-center pt-2 pb-2">
      <div class="col-sm-auto copyrights">
        <p class="mb-0">© Copyright 2025 zever4u.com - All Rights Reserved</p>
      </div>
      <div class="col-sm-auto gototop"> <a class="gotoTop" href="#"> <i class="fa-solid fa-arrow-up"></i></a> </div>
    </div>
  </div>
</footer>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}