<header class="site-header">
<div class="header-top">
  <div class="container custom-width">
    <div class="row">
      <div class="col-md-4">
        <div class="custom-text d-flex align-items-center">
                                <div class="text-icon1 position-relative">
										<i class="fa-solid fa-location-dot"></i> Store Location
									</div>
                                    <div class="text-icon2">
										<i class="fa-regular fa-envelope Vicon-md"></i>
                                        <a href="mailto:zever4u.com">support@zever4u.com</a>
									</div>
                                    </div>			 
      </div>
      
      
      <div class="col-md-4 text-center">Summer sale discount off 30%! <a href="#" class="text-brand">Shop Now</a></div>
      
      <div class="col-md-4 top-info-block">
          <ul class="d-inline mb-0 ps-0 position-relative">
            <li><a class="me-3" href="#"><img src="images/india.jpg" class="pe-2 Vicon">INR <i class="fa-solid fa-angle-down"></i></a></li>
            <li> <a class="" href="#"> English <i class="fa-solid fa-angle-down"></i></a></li>
          </ul>
           
         
      </div>
    </div>
  </div>
</div>

  <div class="header-brand">
    <div class="container-xl custom-width">
      <div class="row align-items-center">
        <div class="col-sm-3 header-logo"> <a href="#"><img class="header-logo-img" src="images/zever4u-logo.png" alt="Zever4U"></a> </div>
        <div class="col-sm-6">
        <nav class="header-navbar navbar navbar-expand-lg">
    <div class="container-xl">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNavbarCollapse" aria-controls="mobileNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="mobileNavbarCollapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown dropdown-mega position-static my-mega"> <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Shop by Category</a>
            <!--<div class="dropdown-menu border" id="scrollpro">
              <div class="mega-content">
                <div class="container-xl">
                  <div class="row">
                    <div class="col-4 col-sm-4 col-md-3 categories-bg border-end pe-0">
                      <div class="mn-menu-block">
                        <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
                          <li class="nav-item me-0" role="presentation">
                            <button class="nav-link active" id="rings-tab" data-bs-toggle="tab" data-bs-target="#rings-tab-pane" type="button" role="tab" aria-controls="rings-tab-pane" aria-selected="true" tabindex="-1"> Rings </button>
                          </li>
                          <li class="nav-item me-0" role="presentation">
                            <button class="nav-link" id="necklaces-tab" data-bs-toggle="tab" data-bs-target="#necklaces-tab-pane" type="button" role="tab" aria-controls="necklaces-tab-pane" aria-selected="false" tabindex="-1"> Necklaces </button>
                          </li>
                          <li class="nav-item me-0" role="presentation">
                            <button class="nav-link" id="bracelets-tab" data-bs-toggle="tab" data-bs-target="#bracelets-tab-pane" type="button" role="tab" aria-controls="bracelets-tab-pane" aria-selected="false"> Bracelets </button>
                          </li>
                          <li class="nav-item me-0" role="presentation">
                            <button class="nav-link" id="earrings-tab" data-bs-toggle="tab" data-bs-target="#earrings-tab-pane" type="button" role="tab" aria-controls="earrings-tab-pane" aria-selected="false" tabindex="-1"> Earrings </button>
                          </li>
                          <li class="nav-item me-0" role="presentation">
                            <button class="nav-link" id="pendants-tab" data-bs-toggle="tab" data-bs-target="#pendants-tab-pane" type="button" role="tab" aria-controls="pendants-tab-pane" aria-selected="false" tabindex="-1"> Pendants </button>
                          </li>
                          <li class="nav-item me-0" role="presentation">
                            <button class="nav-link" id="anklets-tab" data-bs-toggle="tab" data-bs-target="#anklets-tab-pane" type="button" role="tab" aria-controls="anklets-tab-pane" aria-selected="false" tabindex="-1"> Anklets </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-8 col-sm-12 col-md-9">
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="rings-tab-pane" role="tabpanel" aria-labelledby="rings-tab" tabindex="0">
                          <div class="row">
                            <div class="col-md-9 py-2">
                              <div class="sub-menu-block">
                                <ul>
                                  <li><a href="#" class="nav-linkss">Diamond Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Gold Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Platinum Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Cocktail Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Engagement Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Solitaire Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Diamond Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Gold Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Platinum Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Cocktail Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Engagement Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Solitaire Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Diamond Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Gold Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Platinum Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Cocktail Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Engagement Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Solitaire Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Diamond Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Gold Rings</a></li>
                                  <li><a href="#" class="nav-linkss">Platinum Rings</a></li>
                                </ul>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                            <div class="col-md-3 py-2">
                              <figure class="mb-0"><img class="img-fluid" src="images/mega1.jpg" alt=""></figure>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="necklaces-tab-pane" role="tabpanel" aria-labelledby="necklaces-tab" tabindex="0">
                          <div class="row">
                            <div class="col-md-9 py-2">
                              <div class="sub-menu-block">
                                <ul>
                                  <li><a href="#" class="nav-linkss">Gold Necklaces</a></li>
                                  <li><a href="#" class="nav-linkss">Diamond Necklaces</a></li>
                                  <li><a href="#" class="nav-linkss">Temple Necklaces</a></li>
                                  <li><a href="#" class="nav-linkss">Choker Necklaces</a></li>
                                  <li><a href="#" class="nav-linkss">Kundan Necklaces</a></li>
                                  <li><a href="#" class="nav-linkss">Gold Necklaces</a></li>
                                  <li><a href="#" class="nav-linkss">Diamond Necklaces</a></li>
                                  <li><a href="#" class="nav-linkss">Temple Necklaces</a></li>
                                  <li><a href="#" class="nav-linkss">Choker Necklaces</a></li>
                                  <li><a href="#" class="nav-linkss">Kundan Necklaces</a></li>
                                </ul>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                            <div class="col-md-3 py-2">
                              <figure class="mb-0"><img class="img-fluid" src="images/mega2.jpg" alt=""></figure>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="bracelets-tab-pane" role="tabpanel" aria-labelledby="bracelets-tab" tabindex="0">
                          <div class="row">
                            <div class="col-md-9 py-2">
                              <div class="sub-menu-block">
                                <ul>
                                  <li><a href="#" class="nav-linkss">Gold Bracelets</a></li>
                                  <li><a href="#" class="nav-linkss">Diamond Bracelets</a></li>
                                  <li><a href="#" class="nav-linkss">Charm Bracelets</a></li>
                                  <li><a href="#" class="nav-linkss">Cuff Bracelets</a></li>
                                </ul>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                            <div class="col-md-3 py-2">
                              <figure class="mb-0"><img class="img-fluid" src="images/mega3.jpg" alt=""></figure>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="earrings-tab-pane" role="tabpanel" aria-labelledby="earrings-tab" tabindex="0">
                          <div class="row">
                            <div class="col-md-9 py-2">
                              <div class="sub-menu-block">
                                <ul>
                                  <li><a href="#" class="nav-linkss">Gold Earrings</a></li>
                                  <li><a href="#" class="nav-linkss">Diamond Earrings</a></li>
                                  <li><a href="#" class="nav-linkss">Stud Earrings</a></li>
                                  <li><a href="#" class="nav-linkss">Hoop Earrings</a></li>
                                  <li><a href="#" class="nav-linkss">Drop Earrings</a></li>
                                </ul>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                            <div class="col-md-3 py-2">
                              <figure class="mb-0"><img class="img-fluid" src="images/mega4.jpg" alt=""></figure>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="pendants-tab-pane" role="tabpanel" aria-labelledby="pendants-tab" tabindex="0">
                          <div class="row">
                            <div class="col-md-9 py-2">
                              <div class="sub-menu-block">
                                <ul>
                                  <li><a href="#" class="nav-linkss">Gold Pendants</a></li>
                                  <li><a href="#" class="nav-linkss">Diamond Pendants</a></li>
                                  <li><a href="#" class="nav-linkss">Heart Pendants</a></li>
                                  <li><a href="#" class="nav-linkss">Religious Pendants</a></li>
                                </ul>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                            <div class="col-md-3 py-2">
                              <figure class="mb-0"><img class="img-fluid" src="images/mega5.jpg" alt=""></figure>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="anklets-tab-pane" role="tabpanel" aria-labelledby="anklets-tab" tabindex="0">
                          <div class="row">
                            <div class="col-md-9 py-2">
                              <div class="sub-menu-block">
                                <ul>
                                  <li><a href="#" class="nav-linkss">Silver Anklets</a></li>
                                  <li><a href="#" class="nav-linkss">Gold Anklets</a></li>
                                  <li><a href="#" class="nav-linkss">Beaded Anklets</a></li>
                                </ul>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                            <div class="col-md-3 py-2">
                              <figure class="mb-0"><img class="img-fluid" src="images/mega6.jpg" alt=""></figure>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
          </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Latest Collections</a>
            <!--<ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Latest Collections</a></li>
              <li><a class="dropdown-item" href="#">Latest Collections</a></li>
            </ul>-->
          </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Best Sellers</a>
            <!--<ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Best Sellers</a></li>
              <li><a class="dropdown-item" href="#">Best Sellers</a></li>
            </ul>-->
          </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Women’s Jewellery</a>
            <!--<ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Women’s Jewellery</a></li>
              <li><a class="dropdown-item" href="#">Women’s Jewellery</a></li>
            </ul>-->
          </li>
           
          
        </ul>
      </div>
    </div>
  </nav>
        
        </div>
        <div class="col-sm-3 header-account">
          <div class="header-account-wrap">
          <div class="header-account-item search-box"> <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></div>
              <div class="header-account-item user-cart"><a href="#"><i class="fa-regular fa-user"></i> </a></div>
              
            <div class="header-account-item header-wishlist"><a href="#"> <span class="count-circle">3</span> <i class="fa-regular fa-heart"></i> </a></div>
            <div class="header-account-item header-cart"><a href="#"> <span class="count-circle">3</span> <i class="fa-solid fa-cart-shopping"></i></a></div>
            
             
             
             
              </div>
        </div>
      </div>
    </div>
  </div>
  <!--HEADER NAVBAR-->
  
  
</header>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}