<section class="banner-section">
  <div class="hero-section swiper bg-light">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.settings.image %}
        <div class="swiper-slide">
          <div class="banner-container" style="background-image: url({{ block.settings.image | img_url: 'master' }});">
            <div class="banner-content container custom-width">
              <div class="banner-content-in">
                <h2 class="mb-2 text-brand"> {{ block.settings.title }}</h2>
                {% if block.settings.button_link != blank and block.settings.button_text != blank %}
                   <a class="btn btn-primary mt-3 text-uppercase" href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</a> </div>
                {% endif %}
              </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
{% schema %}
  {
    "name": "Homepage Banner",
    "max_blocks": 5, 
    "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Slide Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Your Slide Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Your slide content here.</p>"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Learn More"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Homepage Banner",
        "blocks": [
          { "type": "slide" },
          { "type": "slide" },
          { "type": "slide" }
        ]
      }
    ]
  }
{% endschema %}